.password_reset{
    border: 1px solid black;
    border-radius: .5rem;
    padding: 1.5rem 1rem;
    margin: 1%;
    margin: 4rem auto;
    max-width: 30rem;
}
.password_reset button{
    width: 100%;
}

@media (max-width: 350px){
    .password_reset{
        margin: 4rem 5% !important;
    }
}